<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="breadcrumb-header">Checkout</h3>
        <ul class="breadcrumb-tree">
          <li>Home</li>
          <li class="active">Checkout</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>

<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <form action="/baskets" method="post">
        <div class="col-md-7">
          <!-- Billing Details -->
          <div class="billing-details">
            <div class="section-title">
              <h3 class="title">Billing address</h3>
            </div>
            <div class="form-group">
              <input class="input" type="text" name="first-name" placeholder="First Name">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="last-name" placeholder="Last Name">
            </div>
            <div class="form-group">
              <input class="input" type="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="address" placeholder="Address">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="city" placeholder="City">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="country" placeholder="Country">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="zip-code" placeholder="ZIP Code">
            </div>
            <div class="form-group">
              <input class="input" type="tel" name="tel" placeholder="Telephone">
            </div>
          </div>
          <!-- /Billing Details -->
        </div>

        <!-- Order Details -->
        <div class="col-md-5 order-details">
          <div class="section-title text-center">
            <h3 class="title">Your Order</h3>
          </div>
          <div class="order-summary">
            <div class="order-col">
              <div><strong>PRODUCT</strong></div>
              <div><strong>TOTAL</strong></div>
            </div>
            <div class="order-products">
              <% @books.uniq.each do |book| %>
                <div class="order-col">
                  <div><%= @books.select{|book_in_basket| book_in_basket['id'] == book['id'] }.size %> x <%= book['title'] %></div>
                  <div><%= book['cost'].to_d * @books.select{|book_in_basket| book_in_basket['id'] == book['id'] }.size %></div>
                </div>
              <% end %>
              <div class="order-col">
                <div>Shipping</div>
                <div><strong>FREE</strong></div>
              </div>
              <div class="order-col">
                <div><strong>TOTAL</strong></div>
                <div><strong class="order-total">$<%= @basket.sum %></strong></div>
              </div>
            </div>
            <input type="submit" value="Create order" class="primary-btn order-submit"/>
          </div>
        </div>
      </form>
      <!-- /Order Details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>